#logviewer h2 {
  color: gray;
  color: white;
  border: 1px solid #142896;
  background-color: #3250c8;
  padding: 8px;
  margin: 0px 0px 8px 0px;
  font-size: 15px;
}
#logviewer .linecount {
  font-size: smaller;
  font-style: italic;
  color: #c8c8fa;
}
#logfile {
  font-family: courier, monospace;
  font-size: 11px;
  white-space: nowrap;
  line-height: 100%;
}
.lineNumber {
  color: gray;
  background-color: #f0f0f0;
  border-top: 1px solid #e6e6e6;
  text-align: right;
}
.newLine {
  background-color: #c8ffcd;
}
label {
  width: 80px;
  float: left;
  margin-top: 4px;
}
