#logviewer h2 {
	color: gray;
	color: white;
	border: 1px solid rgb(20,40,150);
	background-color: rgb(50,80,200);
	padding: 8px;
	margin: 0px 0px 8px 0px;
	font-size: 15px;
}

#logviewer .linecount {
	font-size: smaller;
	font-style: italic;
	color: rgb(200,200,250)
}

#logfile {
	font-family: courier, monospace;
	font-size: 11px;
	white-space: nowrap;
	line-height: 100%;
}

.lineNumber {
	color: gray;
	background-color: rgb(240,240,240);
	border-top: 1px solid rgb(230,230,230);
	text-align: right;
}

.newLine {
	background-color: rgb(200,255,205);
}

label {
	width: 80px;
	float: left;
	margin-top: 4px;
}