.validatedField {
	
	span {
		margin: 0px 5px;
		padding: 3px;
		font-size: 11px;
		border: 1px solid black;
		border-radius: 3px;
	}
	
	span.normal {
		border: none;
		background: none;
		/*
		background-color: green;
		border-color: black;
		color: black;
		*/
	}

	span.warning {
		background-color: yellow;
		border-color: orange;
		color: red;
	}
	
	span.error {
		background-color: rgb( 255, 230, 230 );
		border-color: rgb( 255, 200, 200 );
		color: red;
	}
}