.validatedField span {
  margin: 0px 5px;
  padding: 3px;
  font-size: 11px;
  border: 1px solid black;
  border-radius: 3px;
}
.validatedField span.normal {
  border: none;
  background: none;
  /*
		background-color: green;
		border-color: black;
		color: black;
		*/

}
.validatedField span.warning {
  background-color: yellow;
  border-color: orange;
  color: red;
}
.validatedField span.error {
  background-color: #ffe6e6;
  border-color: #ffc8c8;
  color: red;
}
