<wo:switch WOComponentName="$editLookName">
	<script>
		jQuery(document).ready(function(){
			jQuery("#searchString").focus();
		});
	</script>
	<p><wo:link action="$cancel" class="btn btn-default">Hætta við</wo:link></p>
	<p>Samtenging: <strong><wo:str value="$sourceEntityName" /> -&gt; <wo:str value="$destinationEntityName" /></strong></p>
	<h4><wo:str value="$destinationEntityNamePlural" /></h4>
	<div class="row">
		<div class="col-md-4">
			<wo:form class="form-search">
				<wo:textfield value="$searchString" id="searchString" class="searchField input-medium search-query" placeholder="Leita…" /> <wo:submit action="$search" value="Leita" class="btn btn-xs btn-default" />
				<wo:AjaxObserveField observeFieldID="searchString" updateContainerID="list" observeFieldFrequency="1" action="$search" />
			</wo:form>
		</div>
	</div>
	
	<wo:AjaxUpdateContainer id="list">
		<wo:form>
			<div class="pull-right" style="text-align: right; margin-bottom: 10px; margin-top: -55px">
				<div style="margin-bottom: 10px">
					<wo:link class="btn btn-xs btn-success" action="$createObject">Stofna nýja færslu</wo:link> <wo:if condition="$relationship.isToMany"><wo:submit action="$linkSelected" class="btn btn-xs btn-default" value="Tengja valdar færslur" /></wo:if><br />
				</div>
				<strong><wo:str value="$numberOfObjects" numberformat="0" /></strong> hlutir fundust<wo:if condition="$hasMultipleBatches">. Síða <wo:popUpButton list="$batches" selection="$currentBatchIndexForDisplay" id="currentBatchIndex" /> af <wo:str value="$numberOfBatches" /> með <wo:textfield value="$batchSize" numberformat="0" size="3" id="batchSize" /> hlutum hver</wo:if>
				<wo:AjaxObserveField observeFieldID="currentBatchIndex" updateContainerID="list" />
				<wo:AjaxObserveField observeFieldID="batchSize" updateContainerID="list" />
			</div>
			<table class="table table-striped table-condensed table-bordered">
				<thead>
					<tr>
						<wo:if condition="$relationship.isToMany"><th></th></wo:if>
						<th width="10"></th>
						<wo:repetition list="$keyPathsToShow" item="$currentKeyPath">
							<th nowrap><wo:USSort orderings="$orderings" keyPath="$currentKeyPath"><wo:str value="$currentKeyPathDisplayName" /></wo:USSort></th>
						</wo:repetition>
					</tr>
				</thead>
				<tbody>
					<wo:repetition list="$objects" item="$currentObject">
						<tr>
							<wo:if condition="$relationship.isToMany"><td><wo:checkbox checked="$currentChecked" /></td></wo:if>
							<td width="10"><wo:link action="$selectObject">Velja</wo:link></td>
							<wo:repetition list="$keyPathsToShow" item="$currentKeyPath">
								<td><wo:IMValue object="$currentValue" /></td>
							</wo:repetition>
						</tr>
					</wo:repetition>
				</tbody>
			</table>
		</wo:form>
	</wo:AjaxUpdateContainer>
</wo:switch>