<wo:repetition list="$attributes" item="$currentAttribute">
	<div class="form-group">
		<wo:USLabel object="$selectedObject" key="$currentAttribute.name" />
		<wo:if condition="$attributeIsShortString"><wo:text value="$currentAttributeValue" class="form-control" style="height: 50px" /></wo:if>
		<wo:if condition="$attributeIsLongString"><wo:text value="$currentAttributeValue" class="form-control" style="height: 250px" /></wo:if>
		<wo:if condition="$attributeIsInteger"><wo:textfield value="$currentAttributeValue" numberformat="#,##0.##" class="form-control" /></wo:if>
		<wo:if condition="$attributeIsDecimal"><wo:textfield value="$currentAttributeValue" formatter="$decimalFormat" class="form-control" /></wo:if>
		<wo:if condition="$attributeIsDate"><wo:USDateAndTimeField value="$currentAttributeValue" class="form-control" /></wo:if>
		<wo:if condition="$attributeIsLocalDate"><wo:USLocalDateField value="$currentAttributeValue" class="form-control" /></wo:if>
		<wo:if condition="$attributeIsLocalDateTime"><wo:USLocalDateTimeField value="$currentAttributeValue" class="form-control" /></wo:if>
		<wo:if condition="$attributeIsData"><wo:fileUpload data="$currentAttributeValue" filePath="$filename" class="form-control" /></wo:if>
		<wo:if condition="$attributeIsBoolean"><wo:checkbox checked="$currentAttributeValue" /></wo:if>
	</div>
</wo:repetition>

<wo:repetition list="$relationships" item="$currentRelationship">
	<wo:USLabel object="$selectedObject" key="$currentRelationship.name" />
	<wo:USRelationship object="$selectedObject" key="$currentRelationship.name" />
</wo:repetition>