<wo:conditional condition="$relationship.isToMany" negate="$true">
	<wo:USToOneRelationship object="$object" key="$key" disableObjectSelection="$disableObjectSelection" />
</wo:conditional>
<wo:conditional condition="$relationship.isToMany">
	<wo:USToManyRelationship object="$object" key="$key" disableObjectSelection="$disableObjectSelection" />
</wo:conditional>