<wo:USEditLook>
	<div class="row">
		<div class="col-md-12">
			<h2>Available tasks</h2>
			<ul>
				<wo:repetition list="$taskClasses" item="$currentTaskClass">
					<li><wo:link action="$run"><wo:str value="$currentTaskName" /></wo:link></li>
				</wo:repetition>
			</ul>
		</div>
	</div>
</wo:USEditLook>