<wo:if condition="$hasValue"><wo:str value="$value" /></wo:if><wo:if condition="$value.length  // VALID" negate="$true"><span style="color: #bebebe"><wo:str value="$valueWhenEmpty" escapeHTML="$false" /></span></wo:if>