<wo:if condition="$disabled" negate="$true"><wo:link action="$sort"><wo:content /><wo:if condition="$isUsedForOrdering"> <wo:container elementName="span" class="$currentLabelClass" style="font-size: 0.9rem"><wo:container elementName="i" class="$currentIconClass"></wo:container> <wo:str value="$indexOfKeyPath" /></wo:container></wo:if></wo:link></wo:if>
<wo:if condition="$disabled"><wo:content /></wo:if>